:root {
    --body-bg-color: #DDDDDD;
    --header-bg-color: #888888;
    --header-color: #FFFFFF;
}

body {
    background: var(--body-bg-color);
}

.navbar {
    background-color: var(--header-bg-color);
    color: var(--header-color);
}

.page-container {
    padding-top: 75px;
}

.container {
    max-width: 100%;
    height: 100%;
}

.bmd-layout-content {
    height: 100vh;
    width: 100vw;
}

.bmd-layout-drawer>header {
    background-color: var(--header-bg-color);
    color: var(--header-color);
}

.bmd-layout-content>#loginPage {
    display: grid;
    grid-template-areas: 'header header header header header header' 'main main main right right right' 'footer footer footer footer footer footer';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.bmd-layout-content hr h1 {
    /* round boi */
    border-radius: 25px;
    background: #003A70;
    padding: 20px;
    width: auto;
    height: auto;
    /* text styling*/
    color: white;
    font-weight: bold;
    text-align: center;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.list-group-item {
    cursor: pointer;
}

.d-header {
    display: inline;
}