#pokemonDetailsPage {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.vert-scroll-hidden {
    overflow-y: scroll;
    scrollbar-width: none;
}

.vert-scroll-hidden::-webkit-scrollbar {
    display: none;
}

#detailHeader {
    margin-left: 10%;
    margin-right: 10%;
}

#pkmnID {
    float: left;
    width: 50%;
}

#pkmnName {
    float: right;
    text-transform: capitalize;
    text-align: end;
    width: 50%;
}

#pkmnSprite {
    width: 100%;
    max-width: 450px;
}

#pkmnDescription {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    border: 1px solid;
    font-size: 1em;
}

#pkmnTypes {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-between;
    font-size: 1.25em;
}

.pkmnType {
    border: 1px solid;
}

#pkmnAbilities {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    font-size: 1.25em;
    border: 1px solid;
}

#statAndEgg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

#statTable {
    flex-grow: 2;
    flex-basis: auto;
    min-width: 350px;
    border: 1px solid;
}
.stat-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid;
}
.stat-name {
    float: left;
}
.stat-num {
    float: right;
}
.stat-bar {
    margin-left: auto;
    width: 100%;
    max-width: 255px;
    height: auto;
    background-color: blue;
}

#eggTable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    min-width: 100px;
    border: 1px solid;
    margin: auto;
}

#gamesContainer {
    background-color: red;
}

#evolutionContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.evo-icon {
    text-align: center;
    width: 33.3%
}

.evo-icon > h3 {
    height: 10%;
}

.evo-icon > div {
    height: 10%;
}

.evo-icon > img {
    height: 80%;
}

h2 {
    text-align: center;
    background-color: #AAA;
    height: 10%;
    margin: 0;
}

#learnsetType {
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
    margin-top: 4%;
    margin-bottom: 4%;
}

#learnLevel, #learnTM, #learnEgg {
    width: 20%;
    border: 1px solid black;
    border-radius: 10px;
}

#learnsetList { 
    height: 68%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#learnsetLevelList {
    height: calc(100% - 48px);
}

.learnset-row {
    display: grid;
    grid-template-columns: 15% 35% 20% 10% 10% 10%;
    grid-template-rows: 50% 50%;
    
}
.learn-row-item {
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.learn-level {
    grid-column: 1;
    grid-row: 1 / 3;
}
.learn-move-name {
    grid-column: 2;
    grid-row: 1 / 3;
}
.learn-type {
    grid-column: 3;
    grid-row: 1;
}
.learn-category {
    grid-column: 3;
    grid-row: 2;
}
.learn-power {
    grid-column: 4;
    grid-row: 1 / 3;
}
.learn-accuracy {
    grid-column: 5;
    grid-row: 1 / 3;
}
.learn-pp {
    grid-column: 6;
    grid-row: 1 / 3;
}

#learnTopRow {
    background-color: #999;
}
.learn-row-0 {
    background-color: #CCC;
}
.learn-row-1 {
    background-color: #FFF;
}

#encountersContainer {
}

#encounterList {
    display: flex;
    flex-direction: column;
    height: 90%;
    margin: 0;
    align-items: center;
}

.encounter-item {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 40% 60%;
    align-items: center;
    justify-items: center;
    border: 1px solid black;
    border-radius: 20px;
    width: 90%;
    margin: 2px;
}
.encounter-image {
    grid-column: 1;
    grid-row: 1 / 3;
    max-width: 80%;
    max-height: 80%;
}
.encounter-type {
    grid-column: 2;
    grid-row: 1;
}
.encounter-location {
    grid-column: 2;
    grid-row: 2;
}

@media(max-width:992px) {
    #pokedexList, #gamesContainer, #evolutionContainer, #learnsetContainer, #encountersContainer {
        display: none;
    }
}

@media(min-width:992px) {
    #pokemonDetailsPage {
        display: grid;
        grid-template-columns: 20vw 40vw 20vw 20vw;
        grid-template-rows: 10% 35% 55%;
    }

    #pokedexList {
        display: grid;
    }
    
    .dex-icon > img {
        width: 100%;
        height: 100%;
    }


    #pokedexList {
        grid-column: 1;
        grid-row: 1 / 4;
    }

    #detailContainer {
        grid-column: 2;
        grid-row: 1 / 4;
    }
    
    #gamesContainer {
        grid-column: 3 / 5;
        grid-row: 1;
    }
    
    #evolutionContainer {
        grid-column: 3 / 5;
        grid-row: 2;
    }
    
    #learnsetContainer {
        grid-column: 3;
        grid-row: 3;
    }
    
    #encountersContainer {
        grid-column: 4;
        grid-row: 3;
    }
}


.hp-row {
    background: #FF5959;
}

.atk-row {
    background: #F5AC78;
}

.def-row {
    background: #FAE078;
}

.spatk-row {
    background: #9DB7F5;
}

.spdef-row {
    background: #A7DB8D;
}

.spd-row {
    background: #FA92B2;
}

.hp-bar {
    background: #FF0000;
    border-color: #A60000;
}

.atk-bar {
    background: #F08030;
    border-color: #9C531F;
}

.def-bar {
    background: #F8D030;
    border-color: #A1871F;
}

.spatk-bar {
    background: #6890F0;
    border-color: #445E9C;
}

.spdef-bar {
    background: #78C850;
    border-color: #4E8234;
}

.spd-bar {
    background: #F85888;
    border-color: #A13959;
}